<style>
{# Some styling for comments are here to include some minial changes for the pre-fetched section. #}
section#comments {
  p {
    font-size: 0.8em;
  }
}

{# code block line highlighting is not visible with dark theme #}
pre mark {
  color: var(--code-color);
}
</style>

{# mermaid diagram support #}
<script type="importmap">
{
  "imports": {
    "mermaid": "https://cdn.jsdelivr.net/npm/mermaid@11.12.3/dist/mermaid.esm.min.mjs"
  },
  "integrity": {
    "https://cdn.jsdelivr.net/npm/mermaid@11.12.3/dist/mermaid.esm.min.mjs": "sha384-CLPs19boavmokHhmh7MgeVvnHkvg3fvdA2fUsQM+8tCRwISFZnZZ1uKjUO/nC7H7"
  }
}
</script>
<script type="module">
  import mermaid from 'mermaid';
  const mermaidTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default';
  mermaid.initialize({ startOnLoad: false, theme: mermaidTheme });
  document.addEventListener('DOMContentLoaded', async () => {
    const mermaidElements = document.querySelectorAll('.mermaid');
    if (mermaidElements.length > 0) {
      await mermaid.run({ nodes: mermaidElements });
    }
  });
</script>
