name: Build and deploy GH Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@90cd842959b82e0c012601be18ae249d6cdb1669
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
